.desktop_none {
    display: none;
}

.mobile_none {
    display: block;
}


.pls1_title {
    color: var(--Charcoal, #242323);
    text-align: center;

    /* Heading/H1 */
    font-family: 'Satoshi';
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 99%; /* 69.3px */
    letter-spacing: -2.1px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.pls1_subtitle {
    color: var(--P, #7E8492);
    text-align: center;

    /* P/Standard */
    font-family: 'Satoshi';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
    margin-bottom: 0px;
}
.pls1_content {
    max-width: 394px;
    margin-left: auto;
    margin-right: auto;
}
.pls1 {
    background: #242323;
    padding-top: 25px;
    padding-left: 21px;
    padding-right: 21px;
    padding-bottom: 111.5px;
    position: relative;
}
.pls1_inner {
    background: #FFFFFF;
    border-radius: 50px;
    padding-top: 124px;
    padding-bottom: 44px;
}
.pls1_l_cut {
    position: absolute;
    bottom: -1px;
    left: 0px;
    background: url(../img/pls1_l_cut_white.svg);
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    width: 656px;
    height: 59px;
    z-index: 3;
}
.pls1_r_cut {
    position: absolute;
    bottom: -1px;
    right: 0px;
    background: url(../img/pls1_r_cut_white.svg);
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
    width: 656px;
    height: 59px;
    z-index: 3;
}
.pls1_c_cut {
    position: absolute;
    bottom: 55px;
    left: 50%;
    transform: translateX(-50%);
    background: url(../img/pls1_c_cut_white.svg);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 800px;
    height: 59px;
}
.dash_c_cut {
    position: absolute;
    bottom: 55px;
    left: 50%;
    transform: translateX(-50%);
    background: url(../img/dash_c_cut_mute_blue.svg);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 800px;
    height: 59px;
}
.pls2_r_bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 32px 24px;
    max-width: 854px;
}
.pls2_r_top_l_results_text {
    color: var(--Grayscale-600---Dark, #8A8A8A);

    /* P/Small */
    font-family: 'Satoshi';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
    margin-bottom: 0px;
}
.pls2_r_top_l_results_text span {
    color: var(--Lime-Green, #8AB820);

    /* P/Small */
    font-family: 'Satoshi';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
.btn_sort_inner p {
    color: var(--Grayscale-600---Dark, #8A8A8A);
    font-family: 'Satoshi';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
    margin-bottom: 0px;
}
.btn_sort_inner p span {
    color: var(--Grayscale-700---Darker, #636363);
    font-family: 'Satoshi';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
.btn_sort, .btn_sort.active, .btn_sort:hover {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    border-radius: 4px;
    border: 1px solid var(--Grayscale-400---Lighter, #E4E4E4);
    background: var(--Grayscale-White, #FFF);
}
.btn_sort.active {
    border-radius: 4px 4px 0px 0px;
}
.sort_drop_box {
    width: 100%;
    max-width: 268px;
    min-width: 268px;
    position: relative;
}
.btn_sort.active .btn_sort_inner p span {
    color: var(--Charcoal, #242323);

    /* P/Standard */
    font-family: 'Satoshi';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
.sort_drop_div {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    border: 1px solid var(--Grayscale-400---Lighter, #E4E4E4);
    border-top: 0px;
    border-radius: 0px 0px 4px 4px;
    width: 100%;
    position: absolute;
    z-index: 2;
    background: #FFFFFF;
}
.btn_sort_btn {
    padding: 4px 16px;
    text-align: left;
    color: var(--Charcoal, #242323);
    font-family: 'Satoshi';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
    border-radius: 0px;
    border: 0px;
}
.btn_sort_btn.active {
    background: var(--Highlight, linear-gradient(0deg, rgba(138, 184, 32, 0.10) 0%, rgba(138, 184, 32, 0.10) 100%), #FFF);
    color: var(--Lime-Green, #8AB820);

    /* P/Standard */
    font-family: 'Satoshi';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
}
.pls2_r_top_r {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-direction: row;
    justify-content: flex-end;
}
.pls2_r_top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}
.pls2_r {
    max-width: 854px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 32px;
}
.search_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    border-radius: 4px;
    border: 1px solid var(--Grayscale-400---Lighter, #E4E4E4);
    background: var(--Grayscale-White, #FFF);
}
.input_search {
    border: 0px;
    background: transparent;
    color: var(--Grayscale-600---Dark, #8A8A8A);
    font-family: 'Satoshi';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
    padding: 0px;
    height: 16px;
}
.input_search::placeholder {
    color: var(--Grayscale-600---Dark, #8A8A8A);

    /* P/Standard */
    font-family: 'Satoshi';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
}
.input_search:focus-visible {
    border: 0px;
    outline: none;
}
.pls2_main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 64px;
} 
.pls2_l_main {
    display: flex;
    width: 100%;
    padding: 32px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 24px;
    border: 1px solid var(--Grayscale-400---Lighter, #E4E4E4);
    background: var(--Grayscale-White, #FFF);
    box-shadow: 0px 20px 35px 0px rgba(0, 0, 0, 0.06);
}
.btn_option {
    color: var(--Charcoal, #242323);
    font-family: 'Satoshi';
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 142.857%; /* 27.143px */
    text-transform: capitalize;
    border: 0px;
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}
.option_drop_div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 8px;
}
.option_drop_box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 16px;
}
.checkbox_new {
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}
.checkbox_new label {
    color: var(--Grayscale-800---Darkest, #434343);
    font-family: 'Satoshi';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
}
.checkbox_new input {
    border: 1px solid var(--Grayscale-500---Light, #C7C7C7);
    background: var(--Grayscale-White, #FFF);
    width: 24px;
    height: 24px;
    border-radius: 0px!important;
    margin: 0px;
}

.checkbox_new input.form-check-input:checked[type=checkbox] {
   background: url(../img/checkbox_new_tick.svg);
   background-repeat: no-repeat;
   background-position: center center;
   border-color: #C7C7C7;
   box-shadow: none;
}
.pls2 {
    padding: 64px 0px;
}
.pagination_number {
    color: var(--Charcoal, #242323);
    text-align: center;

    /* P/Small */
    font-family: 'Satoshi';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 24px */
    margin-bottom: 0px;
}
.paginatioin_main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    padding: 1px;
    background: #FFFFFF;
    width: 32px;
    height: 32px;
}
.pagination_item {
    background: #E4E4E4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 33px;
    border-radius: 25px;
}
.pagination_item.active {
    background: var(--Gradient, linear-gradient(266deg, #C4EB80 3.86%, #94D0C1 97.53%));
}
.pagination_item.active .paginatioin_main {
    width: 31px;
    height: 31px;
}
.pagination_item.active .paginatioin_main .pagination_number {
    color: var(--Lime-Green, #8AB820);
}
.btn_pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background: var(--Gradient, linear-gradient(266deg, #C4EB80 3.86%, #94D0C1 97.53%));
    padding: 0px;
    width: 33px;
    height: 33px;
}
.pagination_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.pd_table_title {
    color: var(--Charcoal, #242323);

    /* P/Standard */
    font-family: 'Satoshi';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
    margin-bottom: 0px;
}
.pd_table_title span {
    color: var(--Lime-Green, #8AB820);

    /* P/Standard */
    font-family: 'Satoshi';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}
.pd_table_head {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    width: fit-content;
}

.pds2_table {
    max-width: 1254px;
    margin-left: auto;
    margin-right: auto;
}
.pd_table_body_text {
    color: var(--Charcoal, #242323);

    /* P/Standard */
    font-family: 'Satoshi';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
    margin-bottom: 0px;
}
.pd_table_body_text span {
    color: var(--Lime-Green, #8AB820);

    /* P/Standard */
    font-family: 'Satoshi';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
}
.pds2_table table.table thead tr th {
    padding-top: 15px;
    padding-bottom: 15px;
    background: var(--Grayscale-200---Near-White, #FAFAFA);
}
.pds2_table table.table {
    margin-bottom: 32px;
}
.pds2_table table.table tbody tr td {
    padding-top: 24px;
    padding-bottom: 24px;
}
.pds2_table table.table tbody tr:nth-of-type(even) td {
    background: var(--Grayscale-200---Near-White, #FAFAFA);
}
.pds2_table table.table tbody tr td:last-child {
    padding-right: 40px;
}
    .pds2_table table.table thead {
    border: 1px solid var(--Grayscale-400---Lighter, #E4E4E4);
}
.pds2_table table.table thead tr th:first-child {
    padding-left: 40px;
}
.pds2_table table.table tbody tr td:nth-child(1) {
    padding-left: 40px;
    width: 350px;
}
.pds2_table table.table tbody tr td:nth-child(2) {
    width: 150px;
}
.pds2_table table.table tbody tr td:nth-child(3) {
    width: 250px;
}
.pds2_table table.table tbody tr td:nth-child(4) {
    width: 130px;
}
.pds2_table table.table tbody tr td:nth-child(5) {
    width: 190px;
}
.pd_table_body_prod_subtitle {
    color: var(--Grayscale-600---Dark, #8A8A8A);

    /* P/Standard */
    font-family: 'Satoshi';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
    margin-bottom: 0px;
}
.pd_table_body_prod_title {
    color: var(--Charcoal, #242323);
    font-family: 'Satoshi';
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 142.857%; /* 27.143px */
    text-transform: capitalize;
    margin-bottom: 0px;
}
.pd_table_body_prod_details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}
.pd_table_body_product_div img {
    width: 93px;
    height: 59px;
}
.pd_table_body_product_div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    max-width: 275px;
}
.pd_table_body {
    min-height: 62px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.pds2 {
    padding: 64px 0px 40px 0px;
}
.dash_inner {
    background: #F4F7FB;
    border-radius: 50px;
    padding-top: 115px;
    padding-bottom: 133px;
} 







.btn_dash {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 16px 16px 10px;
    gap: 24px;
    color: var(--Charcoal, #242323);
    font-family: 'Satoshi';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    width: 100%;
}
.btn_dash:hover {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 16px 16px 10px;
    gap: 24px;
    color: var(--Charcoal, #242323);
    font-family: 'Satoshi';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    width: 100%;
    border-radius: 10px;
    background: rgba(138, 184, 32, 0.10);
}
.dash_left_title {
    color: var(--Charcoal, #242323);
    font-family: 'Satoshi';
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 48.4px */
    letter-spacing: -1.32px;
    text-transform: capitalize;
    margin-bottom: 0px;
}
.dash_left_box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 32px;
    padding: 40px;
    border-radius: 20px;
    border: 1px solid var(--Grayscale-400---Lighter, #E4E4E4);
    background: var(--Grayscale-White, #FFF);
    box-shadow: 0px 44px 57.3px 0px rgba(0, 0, 0, 0.15), 0px -2px 57.3px 0px rgba(0, 0, 0, 0.06);
}
.dash_tab_btn_panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 4px;
}
.dash_left {
    width: 100%;
    max-width: 423px;
}
.btn_dash.active {
    background: var(--Lime-Green, #8AB820);
    border: 0px;
}
.dash_main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 147px;
}

.dash_title {
    color: var(--Charcoal, #242323);
    font-family: 'Satoshi';
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 48.4px */
    letter-spacing: -1.32px;
    text-transform: capitalize;
    margin-bottom: 24px;
}
.dash_pre_subtitle {
    color: var(--P, #7E8492);
    font-family: 'Satoshi';
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.96px;
    text-transform: capitalize;
    margin-bottom: 32px;
}
.dash_pre_subtitle span {
    color: var(--Functional-Info-Blue, #005BB9);
    font-family: 'Satoshi';
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.96px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    text-transform: capitalize;
}
.dash_subtitle {
    color: var(--P, #7E8492);
    font-family: 'Satoshi';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
    margin-bottom: 0px;
}
.dash_right_my_account {
    padding-top: 136.5px;
    max-width: 688px;
    width: 100%;
}
.dash_title2 {
    color: var(--Charcoal, #242323);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: 'Urbanist';
    font-size: 52px;
    font-style: normal;
    font-weight: 600;
    line-height: 68.5px; /* 131.731% */
    text-transform: capitalize;
    margin-bottom: 16px;
}
.dash_subtitle2 {
    color: var(--P, #7E8492);
    font-family: 'Satoshi';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
    margin-bottom: 24px;
}
.dash_right_acc_details {
    max-width: 688px;
    width: 100%;
    padding-top: 14px;
}

.dash_acc_details_form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
}
.input_div {
    width: 48%;
    flex: 0 0 auto;
}
.input_div2 {
    width: 100%;
    flex: 0 0 auto;
}

.input_div3 {
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}
.select_global {
    padding: 9.5px 16px;
    border-radius: 4px;
    border: 1px solid var(--Grayscale-400---Lighter, #E4E4E4);
    /* background: var(--Grayscale-White, #FFF); */
    color: var(--Grayscale-700---Darker, #636363);
    font-family: 'Satoshi';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
    width: 100%;
}
.dash_right_acc_details .pagination_box .paginatioin_main {
    background: #F4F7FB;
}


@media only screen and (max-width: 700px) {
    .mobile_none {
        display: none;
    }

    .desktop_none {
        display: block;
    }


    .pls1_c_cut {
        width: 200px;
        height: 14px;
        bottom: 17px;
    }
    .dash_c_cut {
        width: 200px;
        height: 14px;
        bottom: 17px;
    }
    .pls1_r_cut {
        width: 27%;
        height: 16px;
    }
    .pls1_l_cut {
        width: 27%;
        height: 16px;
    }
    .pls1 {
        background: #242323;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 30.5px;
        position: relative;
    }
    .pls1_title {
        color: var(--Charcoal, #242323);
        text-align: center;

        /* Heading/H2 */
        font-family: 'Satoshi';
        font-size: 44px;
        font-style: normal;
        font-weight: 700;
        line-height: 110%; /* 48.4px */
        letter-spacing: -1.32px;
        text-transform: capitalize;
        margin-bottom: 20px;
    }
    .pls1_subtitle {
        color: var(--P, #7E8492);
        text-align: center;

        /* P/Standard */
        font-family: 'Satoshi';
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 27px */
        margin-bottom: 0px;
    }
    .pls1_content {
        max-width: 375px;
        margin-left: auto;
        margin-right: auto;
    }
    .pls1_inner {
        border-radius: 0px;
    }
    .btn_sort {
        width: 100%;
    }
    .pls2_r_top_r {
        display: flex;
        align-items: stretch;
        gap: 16px;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
    }
    .pls2_r_top {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
        gap: 16px;
    }
    .pls2_main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        gap: 16px;
    }
    .pls2_r_top_l_results_text {
        color: var(--Charcoal, #242323);
        text-align: center;
        font-family: 'Satoshi';
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 27px */
    }
    .pls2_r_top_l_results_text span {
        color: var(--Lime-Green, #8AB820);
        font-family: 'Satoshi';
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
    }
    .sort_drop_box {
        width: 100%;
        max-width: unset;
        min-width: 268px;
        position: relative;
    }
    .product_card {
        max-width: unset;
    }
    .pls2_r {
        max-width: unset;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        gap: 28px;
        margin-top: 53px;
    }

    .pls2_r_bottom {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        gap: 8px;
        max-width: unset;
    }
    .pls2_l_main {
        display: none;
        width: calc(100% + 24px);
        padding: 90px 16px 16px 16px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        gap: 24px;
        border: 1px solid var(--Grayscale-400---Lighter, #E4E4E4);
        background: var(--Grayscale-White, #FFF);
        box-shadow: 0px 20px 35px 0px rgba(0, 0, 0, 0.06);

        position: absolute;
        z-index: 2;
        left: -12px;
    }
    .pls2_l {
        position: relative;
    }
    .pls2 {
        padding: 32px 12px;
    }
    .filter_box_text {
        color: var(--Lime-Green, #8AB820);
        text-align: center;

        /* Heading/Btn */
        font-family: 'Satoshi';
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
        margin-bottom: 0px;
    }
    .filter_box {
        position: absolute;
        z-index: 3;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 13px 16px;
        border-radius: 8px;
        border: 1px solid var(--Lime-Green, #8AB820);
        background: var(--Highlight, linear-gradient(0deg, rgba(138, 184, 32, 0.10) 0%, rgba(138, 184, 32, 0.10) 100%), #FFF);
        transition: all 1s ease;
    }
    .sort_drop_div {
        z-index: 1;
        background-color: #FFFFFF;
    }

    .pds2 {
        padding: 32px 12px;
    }
    .pds2_result_text {
        color: var(--Grayscale-600---Dark, #8A8A8A);
        text-align: center;
        font-family: 'Satoshi';
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 27px */
        margin-bottom: 16px;
    }
    .pds2_result_text span {
        color: var(--Lime-Green, #8AB820);
        font-family: 'Satoshi';
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
    }
    .pds2_mobo_card_title {
        color: var(--Charcoal, #242323);
        font-family: 'Satoshi';
        font-size: 19px;
        font-style: normal;
        font-weight: 700;
        line-height: 142.857%; /* 27.143px */
        text-transform: capitalize;
        margin-bottom: 8px;
    }
    .pds2_mobo_card_subtitle {
        color: var(--Grayscale-600---Dark, #8A8A8A);
        font-family: 'Satoshi';
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 27px */
        margin-bottom: 0px;
    }
    .pds2_mobo_card_top {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 8px;
        gap: 22px;
    }
    .pds2_mobo_img {
        max-width: 74px;
        border-radius: 8px;
    }
    .pds2_mobo_card {
        padding: 14px 12px;
        border-radius: 4px;
        background: var(--Grayscale-200---Near-White, #FAFAFA);
    }
    .pds2_mobo_card_text {
        color: var(--Grayscale-600---Dark, #8A8A8A);
        font-family: 'Satoshi';
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
        margin-bottom: 0px;
    }
    .pds2_mobo_card_text span {
        color: var(--Charcoal, #242323);
        font-family: 'Satoshi';
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
    }
    .pds2_mobo_card_text span_green {
        color: var(--Lime-Green, #8AB820);
        font-family: 'Satoshi';
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
    }
    .pds2_mobo_card_bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        gap: 8px;
    }
    .row_custom {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 22.5px;
    }
    .custom_col {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .pds2_mobo_frame {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        gap: 28px;
    }
    .pds2_mobo_bottom .pds2_mobo_card:nth-of-type(even) {
        background: #FFFFFF;
    }
    .dash_inner {
        border-radius: 0px;
        padding-top: 127px;
        padding-bottom: 60px;
        padding-left: 12px;
        padding-right: 12px;
    }
    .dash_main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        gap: 64px;
    }
    .dash_title {
        color: var(--Charcoal, #242323);
        text-align: center;
        font-family: 'Satoshi';
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.96px;
        text-transform: capitalize;
        margin-bottom: 24px;
    }
    .dash_pre_subtitle {
        color: var(--P, #7E8492);
        text-align: center;
        font-family: 'Satoshi';
        font-size: 19px;
        font-style: normal;
        font-weight: 700;
        line-height: 142.857%; /* 27.143px */
        text-transform: capitalize;
        margin-bottom: 32px;
    }
    .dash_pre_subtitle span {
        color: var(--Functional-Info-Blue, #005BB9);
        font-family: 'Satoshi';
        font-size: 19px;
        font-style: normal;
        font-weight: 700;
        line-height: 142.857%;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: auto;
        text-decoration-thickness: auto;
        text-underline-offset: auto;
        text-underline-position: from-font;
        text-transform: capitalize;
    }
    .dash_subtitle {
        color: var(--P, #7E8492);
        text-align: center;
        font-family: 'Satoshi';
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 27px */
    }
    .dash_right_my_account {
        padding-top: 0px;
        max-width: 688px;
        width: 100%;
    }
    .dash_left_title {
        color: var(--Charcoal, #242323);
        text-align: center;

        /* Heading/H2 */
        font-family: 'Satoshi';
        font-size: 44px;
        font-style: normal;
        font-weight: 700;
        line-height: 110%; /* 48.4px */
        letter-spacing: -1.32px;
        text-transform: capitalize;
        margin-bottom: 20px;
    }
    .btn_dash_drop, .btn_dash_drop:focus-visible, .btn_dash_drop:focus {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 24px;
        width: 100%;
        padding: 10.5px 16px;
        border-radius: 4px;
        border: 1px solid var(--Lime-Green, #8AB820);
        background: linear-gradient(0deg, rgba(138, 184, 32, 0.10) 0%, rgba(138, 184, 32, 0.10) 100%), #FFF;
    }
    .btn_dash_drop_inner.active {
        background: #F3F8E9;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 24px;
    }
    .btn_dash_drop_div {
        border: 1px solid var(--Lime-Green, #8AB820);
        border-top: 0px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    .btn_dash_drop_inner.active .btn_dash_drop_lt .dash_drop_lt_text {
        color: var(--Lime-Green, #8AB820);
        font-family: 'Satoshi';
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 27px */
    }
    .btn_dash_drop_inner.active svg path {
        fill: #8AB820;
    }
    .dash_drop_lt_text {
        color: var(--Charcoal, #242323);
        font-family: 'Satoshi';
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 27px */
        margin-bottom: 0px;
    }

    .btn_dash_drop_lt {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 8px;
    }
    .btn_dash_drop_inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 24px;
        width: 100%;
        padding: 4px 16px;
        border-radius: 0px;
        border: 0px;
        background: #FFFFFF;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    .dash_tab_btn_panel {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        gap: 0px;
    }
    .input_div {
        width: 100%;
        flex: unset;
    }
    .dash_acc_details_form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        gap: 16px;
    }
    .dash_title2 {
        color: var(--Charcoal, #242323);
        text-align: center;
        font-family: 'Satoshi';
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.96px;
        text-transform: capitalize;
        margin-bottom: 16px;
    }
    .dash_subtitle2 {
        color: var(--P, #7E8492);
        text-align: center;
        font-family: 'Satoshi';
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 27px */
        margin-bottom: 24px;
    }
    .input_div3 {
        width: 100%;
        flex: 0 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
    }
}

@media only screen and (min-width: 780px) and (max-width:991px) {

}

@media only screen and (min-width: 992px) and (max-width: 1151px) {
    
}

@media only screen and (min-width: 1152px) and (max-width:1279px) {
    

}

@media only screen and (min-width: 1280px) and (max-width:1348px) {
    .pls1_l_cut {
        position: absolute;
        bottom: -1px;
        left: 0px;
        background: url(../img/pls1_l_cut_white.svg);
        background-size: cover;
        background-position: right center;
        background-repeat: no-repeat;
        width: 340px;
        height: 59px;
    }
    .pls1_r_cut {
        position: absolute;
        bottom: -1px;
        right: 0px;
        background: url(../img/pls1_r_cut_white.svg);
        background-size: cover;
        background-position: left center;
        background-repeat: no-repeat;
        width: 340px;
        height: 59px;
    }
    .pls2_r_bottom {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        gap: 32px 12px;
        max-width: 854px;
    }
    .pls2_main {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 24px;
    }
    .dash_main {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 56px;
    }
}

@media only screen and (min-width: 1349px) and (max-width:1439px) {
    .pls1_l_cut {
        position: absolute;
        bottom: -1px;
        left: 0px;
        background: url(../img/pls1_l_cut_white.svg);
        background-size: cover;
        background-position: right center;
        background-repeat: no-repeat;
        width: 370px;
        height: 59px;
    }
    .pls1_r_cut {
        position: absolute;
        bottom: -1px;
        right: 0px;
        background: url(../img/pls1_r_cut_white.svg);
        background-size: cover;
        background-position: left center;
        background-repeat: no-repeat;
        width: 370px;
        height: 59px;
    }
    .dash_main {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 108px;
    }
}

@media only screen and (min-width: 1440px) and (max-width:1499px) {
    .pls1_l_cut {
        position: absolute;
        bottom: -1px;
        left: 0px;
        background: url(../img/pls1_l_cut_white.svg);
        background-size: cover;
        background-position: right center;
        background-repeat: no-repeat;
        width: 420px;
        height: 59px;
    }
    .pls1_r_cut {
        position: absolute;
        bottom: -1px;
        right: 0px;
        background: url(../img/pls1_r_cut_white.svg);
        background-size: cover;
        background-position: left center;
        background-repeat: no-repeat;
        width: 420px;
        height: 59px;
    }
    .dash_main {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 108px;
    }
}

@media only screen and (min-width: 1500px) and (max-width:1599px) {
    .pls1_l_cut {
        position: absolute;
        bottom: -1px;
        left: 0px;
        background: url(../img/pls1_l_cut_white.svg);
        background-size: cover;
        background-position: right center;
        background-repeat: no-repeat;
        width: 420px;
        height: 59px;
    }
    .pls1_r_cut {
        position: absolute;
        bottom: -1px;
        right: 0px;
        background: url(../img/pls1_r_cut_white.svg);
        background-size: cover;
        background-position: left center;
        background-repeat: no-repeat;
        width: 420px;
        height: 59px;
    }
}

@media only screen and (min-width: 1600px) and (max-width:1699px) {
    .pls1_l_cut {
        position: absolute;
        bottom: -1px;
        left: 0px;
        background: url(../img/pls1_l_cut_white.svg);
        background-size: cover;
        background-position: right center;
        background-repeat: no-repeat;
        width: 490px;
        height: 59px;
    }
    .pls1_r_cut {
        position: absolute;
        bottom: -1px;
        right: 0px;
        background: url(../img/pls1_r_cut_white.svg);
        background-size: cover;
        background-position: left center;
        background-repeat: no-repeat;
        width: 490px;
        height: 59px;
    }
}

@media only screen and (min-width: 1700px) and (max-width:1799px) {
    .pls1_l_cut {
        position: absolute;
        bottom: -1px;
        left: 0px;
        background: url(../img/pls1_l_cut_white.svg);
        background-size: cover;
        background-position: right center;
        background-repeat: no-repeat;
        width: 540px;
        height: 59px;
    }
    .pls1_r_cut {
        position: absolute;
        bottom: -1px;
        right: 0px;
        background: url(../img/pls1_r_cut_white.svg);
        background-size: cover;
        background-position: left center;
        background-repeat: no-repeat;
        width: 540px;
        height: 59px;
    }
}

@media only screen and (min-width: 1800px) and (max-width:1919px) {
    .pls1_l_cut {
        position: absolute;
        bottom: -1px;
        left: 0px;
        background: url(../img/pls1_l_cut_white.svg);
        background-size: cover;
        background-position: right center;
        background-repeat: no-repeat;
        width: 600px;
        height: 59px;
    }
    .pls1_r_cut {
        position: absolute;
        bottom: -1px;
        right: 0px;
        background: url(../img/pls1_r_cut_white.svg);
        background-size: cover;
        background-position: left center;
        background-repeat: no-repeat;
        width: 600px;
        height: 59px;
    }
}